amqp
async-timeout
billiard
celery[redis]
kombu
pytz
redis
Fiona
Flask
Flask-Cors
flask_compress
Flask-HTTPAuth
geomet
geopandas
gunicorn
itsdangerous==2.0.1
kiwisolver
matplotlib
munch
numpy
packaging
pandas
Pillow
pygeos
pyparsing
pyproj
pyshp
python-dateutil
rasterio
redis
requests
rioxarray
scipy
Shapely
urllib3
visvalingamwyatt
Werkzeug
xarray